/*  PC */
@media (min-width: 64em) {
   
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .place .place-btn {
        padding: 14px 10px;
    }
    .contact-name, .contact-email, 
    .contact-message {
        padding: 15px;
    }
    .contact-submit {
        padding: 14px 16px;
    }
    #footer .social-networks a {
        font-size: 32px;
    }
    .contact-left {
        line-height: 2.1;
    }

}

/*  Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #footer .social-networks a {
        font-size: 48px;
        margin: 0 8px;
    }
    #footer .copyright {
        font-size: 24px;
        margin-top: 30px;
    }
}

/*  Mobile */
@media (max-width: 46.1875em) {
    
    #header {
        overflow: hidden;
    }
    #nav .home-btn ~ li {
        /* display: none; */
    }
    
    #nav > li {
        display: block;        
    }
    
    #nav > li:first-child {
        display: inline-block;
    }

    .ti-search-btn {
        display: none;
    }

    #menu-btn .menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        color: #fff;
        line-height: 46px;
        padding: 0 21px;  
    }

    #menu-btn .menu-mobile:hover {
        background-color: #ccc;
        color: #000;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav li a {
        background-color: #000;
        color: #fff;
        padding: 0px 41px;
    }

    #member-container {
        display: block;
    }

    #member-container .member-img {
        margin-bottom: 15px;
        width: 60%;
    }

    .place .place-body {
        margin-bottom: 16px;
    }

    .row {
        display: block;
    }

    .contact-info, .contact-person, .col-half  {
        display: block;
    }
    .contact-right {
        margin: 16px;
    }

    .contact-name {
        margin-bottom: 19px;
    }
  
    .contact-name, 
    .contact-email,
    .contact-submit, 
    .place-btn {
        width: 100%;
    }
    .contact-email {
        margin-left: 0px;
    }
}
